---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />

		<main>
      <h1>Welcome to Dmitry Mamyrev's Blog!</h1>

      <p>
      Hi, I'm Dmitry Mamyrev, <del>chief/lead/senior/solution architect/problem solver/guru/vip/luxury/coach/mentor</del> an honest human being. It is important to make it clear nowadays. It's important to note also, that what you're reading right now was <b>not generated</b> by AI. I could do that and save some time to pick lint out of my belly button, but what's the point to write anything at all then?
      </p>

      <p>
      I don't like human interactions much, but AI interactions are even worse, that's why that specific blog is started. I think we should fill internet with dumb human ideas, rather than AI hallucinations. Don't get me wrong, I'm not against AI; it just feels overhyped.
      </p>

      <p>
      Here in this blog I gonna share, to some degree, my character and personality, my thoughts and ideas (I have plenty of weird ones), and my experience and knowledge.
      </p>

      <p>
      I gonna share my thoughts on coding, open-source, productivity hacks, and more. Hope some other bipedals will find value here. Feel free to reach out, comment my posts, or subscribe (if you'll find such buttons).
      </p>
    </main>

    <Footer />
  </body>
</html>
